<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Services offered By TechFutures: </h1>
<ul>
    {% for a in services %}
    <li><a href="{% url 'services:service-detail' a.id %}">{{a.name}} (ID: {{a.id}})</a></li>
    {% endfor %}
</ul>
{% for service in services %}
<h1>{{ service.name }}</h1>
<p> Price: {{service.price}}</p>
<p>Category: {{service.category.name}}</p>
<p>Description: {{service.description}}</p>
{%if service.subcategory %}
<p>Subcategory: {{service.subcategory.name}}</p>
{% endif %}

{% endfor %}
<a href="{% url 'services:service_form' %}">Create New Service</a>
<a href="{% url 'services:search' %}">Search For A Service</a>
<a href="{% url 'services:delete_service' service.id %}">Delete This Service</a>
{% if deleting_one_category %}
    <a href="{% url 'deleting_one_category' %}">Deleting</a>
{% endif %}



</body>
</html>